<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.log">

	<targets>
		<target xsi:type="ColoredConsole" name="logconsole" />
		<!-- File target for general application logs -->
		<target xsi:type="File" name="fileTarget"
				fileName="C:\Users\lidashubitidze\source\repos\LoanAPI\LoanAPI\Logs\Logs.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>


	<rules>
		<!-- Suppress noisy framework and third-party loggers -->
		<logger name="Microsoft.*" maxlevel="Warn" final="true" />
		<logger name="System.*" maxlevel="Warn" final="true" />

		<!-- Log only from your application namespace -->
		<logger name="LoanAPI.*" minlevel="Info" writeTo="fileTarget" />

		<!-- Catch-all: suppress everything else -->
		<logger name="*" maxlevel="Error" writeTo="fileTarget" final="true" />
	</rules>
</nlog>